{% extends 'base.html.twig' %}
{% block title %}Dashboard{% endblock %}
{% block body %}
  <h1>Dashboard</h1>

  {% if is_granted('ROLE_ADMIN') %}
    <p><strong>You are logged in as Admin. You have full access.</strong></p>
  {% else %}
    <p><strong>You are logged in as Regular User. Limited access granted.</strong></p>
    
  {% endif %}
{% endblock %}
